<div class='help-show'>
	<img class='help-img' src='/images/icons/human_language_varieties_big.png' height='100'/>
	
	<h2>Human_language_varieties Help</h2>
	<br/>
	
	TODO
	
	<div style='clear:both'></div>

  <fieldset id='topic-nav'>
    <legend>Human_language_varieties Index</legend>
      
		TODO
	</fieldset>

	<fieldset id='topic-term'>
	  <legend>Human_language_variety Editor</legend>
		TODO
		
		<br/><br/>
		<strong>Fields</strong>
		<ul>
			<li><span class='underline'>Name:</span> TODO</li>
			<li><span class='underline'>Description:</span> TODO</li>
		</ul>
	</fieldset>
	
</div>