<div class='help-show'>
	<img class='help-img' src='/images/icons/lexicons_big.png' height='100'/>
	
	<h2>Lexicons Help</h2>
	<br/>
	
	In its most general sense, the term is synonymous with vocabulary. A dictionary can be seen as a set of lexical entries. The lexicon has a special status in generative grammar, where it refers to the component containing all the information about the structural properties of the lexical items in a language. [Crystal 2008: 278] In linguistics, ... we don't normally speak of the vocabulary of a particular language; instead, we speak of the lexicon, the total store of words available to a speaker. Very commonly, the lexicon is not regarded merely as a long list of words. Rather, we conceive the lexicon as a set of lexical resources, including the morphemes of the languages, plus the processes available in the language for constructing words from those resources. Apart from the lexicon of a language as a whole, psycholinguists are interested in the mental lexicon, the words and lexical resources stored in an individual brain. [Trask 1999: 166-167]
	
	<div style='clear:both'></div>

  <fieldset id='topic-nav'>
    <legend>Lexicon List</legend>
      
		</fieldset>

	<fieldset id='topic-term'>
	  <legend>Lexicon Editor</legend>
			
		Create or edit a lexicon. Once a lexicon is created, you can then add lexical items.
			
		<br/><br/>
		<strong>Fields</strong>
		<ul>
			<li><span class='underline'>Name:</span> A short name to reference your lexicon.</li>
			<li><span class='underline'>Description:</span> A description of your lexicon.</li>
		</ul>
	</fieldset>
	
</div>