<div class='help-show'>
	<img class='help-img' src='/images/icons/concept_big.png' height='100'/>
	
	<h2>Lexicalized Concepts Help</h2>
	<br/>
	
	Grammatical or semantic category expressed by a lexical item, e.g. English 'make' + 'dead' together are lexicalized as 'kill', in German 'tot' + 'machen' > 'töten', or the close linking of lexical items in an idiomatic phrase. [Hartmann and Stork 1972: 129]
	
	<div style='clear:both'></div>

  <fieldset id='topic-nav'>
    <legend>Lexicalized Concepts List</legend>
      
		A list of your lexical concepts. Drag one or more concepts onto a lexical item to link them by a common concept
	</fieldset>

	<fieldset id='topic-term'>
	  <legend>Lexicalized Concept Editor</legend>
		
		Create or edit lexical concepts.
		
		<br/><br/>
		<strong>Fields</strong>
		<ul>
			<li><span class='underline'>Name:</span> Short name of your concept</li>
			<li><span class='underline'>Description:</span> A full description of your concept</li>
		</ul>
	</fieldset>
	
</div>