<div class='help-show'>
	<img class='help-img' src='/images/icons/lexical_items_big.png' height='100'/>
	
	<h2>Lexical_items Help</h2>
	<br/>
	
	A unit of the vocabulary of a language such as a word, phrase or term as listed in a dictionary. It usually has a pronounceable or graphic form, fulfils a grammatical role in a sentence, and carries semantic meaning. [Hartmann and Stork 1972: 128]
	
	<div style='clear:both'></div>

  <fieldset id='topic-nav'>
    <legend>Lexical Items List</legend>
      
		A list of lexical items belonging to a given lexicon
	</fieldset>

	<fieldset id='topic-term'>
	  <legend>Lexical Item Editor</legend>
		
		<br/><br/>
		<strong>Fields</strong>
		<ul>
			<li><span class='underline'>Headword:</span> The headword is used to locate the entry</li>
			<li><span class='underline'>Language:</span> The given language of this lexical entry. Begin typing the name of a language to invoke the language query or type in the ISO 639-3 code if known.</li>
			<li><span class='underline'>Lexicalized Concept:</span> A semantic concept for this lexical entry that relates two or more entries to a given sense or meaning. A Lexicalized Concept must first be created then dragged into the Lexical Item editor.</li>
			
			<li><span class='underline'>Notes:</span> Other information related to the lexical item.</li>
		</ul>
	</fieldset>
	
</div>