<div class='help-show'>
	<img class='help-img' src='/images/apps/termset.png' height='100'/>
	
	<h2>Terms</h2>
	<br/>
	
	Lingdesktop Terms allow for the reconciliation of user defined terms with GOLD Ontology concepts. Each term can be mapped to one or more concepts thus providing user defined terms a semantic context within the GOLD Ontology.
	
	<div style='clear:both'></div>

  <fieldset id='topic-nav'>
    <legend>Terms List</legend>
      
		The Terms List displays all user's Terms. Double-click on a Term to edit the term.
	</fieldset>

	<fieldset id='topic-term'>
	  <legend>Term Editor</legend>
		The Term Editor is a form for creating or modifying a term.
		
		<br/><br/>
		<strong>Fields</strong>
		<ul>
			<li><span class='underline'>Term Name:</span> A full name for a term. Example: First Person Singular.</li>
			<li><span class='underline'>Abbreviation:</span> The abbreviation of the term used in publication. Example: 1stSg.</li>
			<li><span class='underline'>Comment:</span> Any author remarks or notes involving the term definition, meaning, and/or mapping to GOLD Concepts.</li>
			<li><span class='underline'>GOLD Mapping:</span> A list of GOLD concepts mapped to the term. Drag a concept from the GOLD Ontology Navigator into this box to map.</li>
		</ul>
	</fieldset>
	
</div>