<div class='help-show'>
	<img class='help-img' src='/images/apps/termset.png' height='100'/>
	
	<h2>Termset Navigator</h2>
	<br/>
	
	A Termset allows for the reconciliation of user defined terms with GOLD Ontology concepts. Each term can be mapped to one or more concepts thus providing user defined terms a semantic context within the GOLD Ontology.
	
	<div style='clear:both'></div>

  <fieldset id='topic-nav'>
    <legend>Termset Navigator</legend>
      
		The Termset Navigator lists all user's Termsets as roots and Terms as their children. Double-click on a Termset or Term to display an edit form.
	</fieldset>


	<fieldset id='topic-termset'>
	  <legend>Termset Editor</legend>	    
		The Termset Editor is a form for creating or modifying a termset.
		
		<br/><br/>
		<strong>Fields</strong>
		<ul>
			<li><span class='underline'>Name:</span> A user definable name for the termset container</li>
			<li><span class='underline'>Comment:</span> Any remarks or notes involving the child terms in this termset</li>
		</ul>
	</fieldset>

	
	<fieldset id='topic-term'>
	  <legend>Term Editor</legend>
		The Term Editor is a form for creating or modifying a term.
		
		<br/><br/>
		<strong>Fields</strong>
		<ul>
			<li><span class='underline'>Term Name:</span> A full name for a term. Example: First Person Singular.</li>
			<li><span class='underline'>Abbreviation:</span> The abbreviation of the term used in publication. Example: 1stSg.</li>
			<li><span class='underline'>Comment:</span> Any author remarks or notes involving the term definition, meaning, and/or mapping to GOLD Concepts.</li>
			<li><span class='underline'>GOLD Mapping:</span> A list of GOLD concepts mapped to the term. Drag a concept from the GOLD Ontology Navigator into this box to map.</li>
		</ul>
	</fieldset>
	
</div>