<div class='help-show'>
	<img class='help-img' src='/images/logo/logo.png' height='100' style='float:left; margin: 0 10px 10px 0;' />

	<h2>LingDesktop</h2>
	<br/>
	
	LingDesktop is a rich Internet application and collection of web services which allows users to create, share and edit linguistic data.
	
	<div style='clear:both;'></div>
	
	
	<fieldset>
		<legend>GOLD Ontology</legend>
		The basis of LingDesktop is the <a target='_blank' href="http://purl.org/linguistics/gold">General Ontology for Linguistics Description</a>. All data that are created with the LingDesktop tool are stored as RDF and mapped to an OWL version of GOLD.
	</fieldset>
	
	
	<fieldset>
		<legend>Linked Data</legend>
		We intend this tool to be instrumental in creating a cyber-infrastructure for linguistics. Such a cyber-infrastructure assumes that the Web is the primary medium of sharing, manipulating and searching linguistics data. The idea came about because of the need for data sharing especially in the context of the decline of linguistic diversity and the rapid loss of language data. As such this project is meant to promote a paradigm shift within the field of linguistics where data are:
		<br/><br/>
		<ul>
			<li><span class='underline'>Interoperable</span>: a single piece of software can be used to process multiple data sets, collected by different linguists and marked up according to different theoretical perspectives.</li>
			<li><span class='underline'>Shared</span>: accessible to both the scientific and native language speaking communities.</li>
			<li><span class='underline'>Open</span>: annotation schemes are published via the use of standard terminologies or ontologies.</li>
		</ul>
	</fieldset>
	
	
	<fieldset>
		<legend>e-Linguistics</legend>
		This project is being developed as part of the e-linguistics toolkit. More information can be found at our <a target='_blank' href="http://purl.org/linguistics/eltk">e-linguistics</a> site.
	</fieldset>
	
	<fieldset>
		<legend>Sponsorship and Funding</legend>
		We would like to gratefully acknowledge the National Science Foundation for their support in developing these tools, specifically for the following grant:
		<br/><br/>
		<ul>
			<li>BCS-0720670, Implementing the GOLD Community of Practice: Laying the Foundations for a Linguistics Cyberinfrastructure.</li>
		</ul>
	</fieldset>
	
	<hr/>
	
	<div style='float: right'>
		<a href='http://linguistics-ontology.org' target='_blank'><img src='http://linguistics-ontology.org/images/gold-mini.png' alt='GOLD Community'/></a>
	</div>
	
</div>