<div class='resource-show'>
<h2>
	<%= @lexical_item.get_objects(RDF::RDFS.label => {:first=> true, :simple_value => :value, :context => @context}) %>
	<br/>
	<span style="font-size: 0.6em;">
		<a href='<%= @lexical_item.uri %>' target="_blank"><%= @lexical_item.uri %></a>
	</span>
</h2>

<hr/>

<strong class="label">Description:</strong>

<% @lexical_item.get_objects(RDF::RDFS.comment => {:simple_value => :value, :context => @context}).each do |comment| %>
	<p class="indent">
	  <%= "#{comment}" %>	
	</p>  
<% end %>

</div>