.dt-icon-info {background-image: url('../../images/icons/info.png') !important;}
.dt-icon-delete {background-image: url('../../images/icons/delete.gif') !important;}
.dt-icon-help {background-image: url('../../images/icons/help.png') !important;}
.dt-icon-cog {background-image: url('../../images/icons/cog.png') !important;}
.dt-icon-add {background-image: url('../../images/icons/add.gif') !important;}
.dt-icon-user {background-image: url('../../images/icons/user.png') !important;}
.dt-icon-book {background-image: url('../../images/icons/book.png') !important;}
.dt-icon-grid {background-image: url('../../images/icons/grid.png') !important;}
.dt-icon-save {background-image: url('../../images/icons/save.gif') !important;}
.dt-icon-login {background-image: url('../../images/icons/login.png') !important;}
.dt-icon-logout {background-image: url('../../images/icons/logout.png') !important;}
.dt-icon-search {background-image: url('../../images/icons/search.png') !important;}
.dt-icon-undo {background-image: url('../../images/icons/undo.png') !important;}
.dt-icon-redo {background-image: url('../../images/icons/redo.png') !important;}
.dt-icon-keyboard {background-image: url('../../images/icons/keyboard.png') !important;}
.dt-icon-sparql {background-image: url('../../images/icons/sparql.png') !important;}
.dt-icon-owl {background-image: url('../../images/icons/owl.png') !important;}
.dt-icon-edit {background-image: url('../../images/icons/edit.png') !important;}
.dt-icon-view {background-image: url('../../images/icons/view.png') !important;}
.dt-icon-term {background-image: url('../../images/icons/term.png') !important;}
.dt-auth-google {background-image: url('../../images/authbuttons/google_64.png') !important;}