<div class='help-show'>
	<img class='help-img' src='/images/icons/<%= singular_name %>_big.png' height='100'/>
	
	<h2><%= plural_name.capitalize %> Help</h2>
	<br/>
	
	TODO
	
	<div style='clear:both'></div>

  <fieldset id='topic-nav'>
    <legend><%= plural_name.capitalize %> List</legend>
      
		TODO
	</fieldset>

	<fieldset id='topic-term'>
	  <legend><%= singular_name.capitalize %> Editor</legend>
		TODO
		
		<br/><br/>
		<strong>Fields</strong>
		<ul>
			<li><span class='underline'>Name:</span> TODO</li>
			<li><span class='underline'>Description:</span> TODO</li>
		</ul>
	</fieldset>
	
</div>